

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

$body-color: red;

body {
  display: flex;
  min-height: 100vh;

}

#content {
    flex: 1;
    display: flex;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba($color: #000000, $alpha: 0.3);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    padding: 20px;
    text-align: center;
}
nav {
    ul {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        li {
            flex: 1;
            list-style: none;
        }
    }
    button {
        padding: 10px 20px;
        width: 100%;
    }
}

.tabs {
    flex: 1;
    display: flex;
}

#home {
    flex: 1;
    padding-top: 90px;
    background-image: url(./img/sushi-menu.jpg);
    background-repeat: no-repeat;

}